@model Pizza

<form asp-controller="Pizza" asp-action="Store" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label for="name" class="form-label">Nome Pizza</label>
        <input class="form-control" id="name" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input class="form-control" id="description" asp-for="Description">
    </div>
    <div class="mb-3">
        <label for="picture" class="form-label">Picture</label>
        <input class="form-control" id="picture" asp-for="Picture">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input class="form-control" id="price" asp-for="Price">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>